<% require 'http' %>
<p id="notice"><%= notice %></p>
<center>
<br>
<br>
<br>
<br>




<div class="heading-section ftco-animate mb-5 text-center">

<h1>Episodes</h1>

<div class="media">
  <div class="media-body">
    <table class="table table">
      <thead class="thead-light">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Air date</th>
          <th>Episode Code</th>
          <th colspan="3"></th>
        </tr>
      </thead>
  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td><%= episode[:id] %></td>
        <td><%= link_to episode[:name], episode_path(episode[:id]) %></td>
        <td><%= episode[:air_date] %></td>
        <td><%= episode[:episode] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>
