<p id="notice"><%= notice %></p>

<center>
<br>
<br>



<section class="ftco-section ftco-wrap-about">
<div class="heading-section ftco-animate mb-5 text-center">
  <span class="subheading"><%=@episode[:name]%></span>
  <h1 class="mb-5">Episode</h1>
  <div class="container">
      <p>
        <strong>Name:</strong>
        <%= @episode[:name] %>
      </p>

      <p>
        <strong>Air date:</strong>
        <%= @episode[:air_date] %>
      </p>

      <p>
        <strong>Episode Code:</strong>
        <%= @episode[:episode] %>
      </p>

      <p>
        <strong>Characters:</strong>
        <% @string_ids = "" %>
        <% @episode[:characters].each do |char|%>
          <% id_char = char.split("/")[-1] %>
          <% @string_ids += id_char + "," %>
        <% end %>
        <% url_consulta = "https://rickandmortyapi.com/api/character/" + @string_ids%>
        <% info = HTTP.get(url_consulta).to_s %>
        <% list_info = eval(info) %>
        <% list_info.each do |char| %>
          <br>
          <%= link_to char[:name], character_path(char[:id]) %>
        <% end %>

      </p>
    </div>
</div>
</section>


<%= link_to 'All Episodes', episodes_path %>
