<% require 'http' %>
<p id="notice"><%= notice %></p>

<center>
<br>
<br>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<section class="ftco-section ftco-wrap-about">
<div class="heading-section ftco-animate mb-5 text-center">
  <span class="subheading"><%=@location[:name]%></span>
  <h1 class="mb-5">Location</h1>
  <div class="container">
    <p>
      <strong>Name:</strong>
      <%= @location[:name] %>
    </p>

    <p>
      <strong>Type:</strong>
      <%= @location[:type] %>
    </p>

    <p>
      <strong>Dimension:</strong>
      <%= @location[:dimension] %>
    </p>

    <p>
      <strong>Residents:</strong>

      <% @string_ids = "" %>
      <% @location[:residents].each do |char|%>
        <% id_char = char.split("/")[-1] %>
        <% @string_ids += id_char + "," %>
      <% end %>
      <% url_consulta = "https://integracion-rick-morty-api.herokuapp.com/api/character/" + @string_ids%>
      <% info = HTTP.get(url_consulta).to_s %>
      <% list_info = eval(info) %>
      <% list_info.each do |char| %>
        <br>
        <%= link_to char[:name], character_path(char[:id]) %>
      <% end %>
    </p>

  </div>
</div>
</section>


<%= link_to 'All Locations', locations_path %>
