<!DOCTYPE html>
<html>
  <head>
    <title>Tarea 1 - Taller de Integración - IIC3103</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://colorlib.com/preview/theme/feliciano/css/bootstrap.css">
    <link rel="stylesheet" href="https://colorlib.com/preview/theme/feliciano/css/animate.css">
    <link rel="stylesheet" href="https://colorlib.com/preview/theme/feliciano/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://colorlib.com/preview/theme/feliciano/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://colorlib.com/preview/theme/feliciano/css/magnific-popup.css">
    <link rel="stylesheet" href="https://colorlib.com/preview/theme/feliciano/css/aos.css">
    <link rel="stylesheet" href="https://colorlib.com/preview/theme/feliciano/css/ionicons.min.css">
    <link rel="stylesheet" href="https://colorlib.com/preview/theme/feliciano/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://colorlib.com/preview/theme/feliciano/css/jquery.timepicker.css">
    <link rel="stylesheet" href="https://colorlib.com/preview/theme/feliciano/css/flaticon.css">
    <link rel="stylesheet" href="https://colorlib.com/preview/theme/feliciano/css/icomoon.css">
    <link rel="stylesheet" href="https://colorlib.com/preview/theme/feliciano/css/style.css">

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <li><a href="/home" class="nav-link">Rick & Morty</a></li>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><%= form_tag(search_page_path, :method => "get",
                class: 'navbar-form navbar-left') do %>
              <div class="input-group">
                <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
                <div class="input-group-btn">
                  <%= button_tag "<i class=material-icons md-dark>search</i>".html_safe, :class => 'btn btn-info',:name => nil%>
                </div>
              </div>
            <% end %></li>
            <li class="nav-item active"><a href="/episodes" class="nav-link">Episodes</a></li>
            <li class="nav-item active"><a href="/characters" class="nav-link">Charactes</a></li>
            <li class="nav-item active"><a href="/locations" class="nav-link">Locations</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">

    <div class="row">
    <div class="col-md-12 text-center">
    <p>
    Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="1de48e9da5cf40243b130f7c-text/javascript">document.write(new Date().getFullYear());</script> All rights reserved | T01 - Taller de Integración - Francisca Hohlberg
    </p>
    </div>
    </div>
    </footer>

    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    <script src="https://colorlib.com/preview/theme/feliciano/js/jquery.min.js" type="1de48e9da5cf40243b130f7c-text/javascript"></script>
    <script src="https://colorlib.com/preview/theme/feliciano/js/jquery-migrate-3.0.1.min.js" type="1de48e9da5cf40243b130f7c-text/javascript"></script>
    <script src="https://colorlib.com/preview/theme/feliciano/js/popper.min.js" type="1de48e9da5cf40243b130f7c-text/javascript"></script>
    <script src="https://colorlib.com/preview/theme/feliciano/js/bootstrap.min.js" type="1de48e9da5cf40243b130f7c-text/javascript"></script>
    <script src="https://colorlib.com/preview/theme/feliciano/js/jquery.easing.1.3.js" type="1de48e9da5cf40243b130f7c-text/javascript"></script>
    <script src="https://colorlib.com/preview/theme/feliciano/js/jquery.waypoints.min.js" type="1de48e9da5cf40243b130f7c-text/javascript"></script>
    <script src="https://colorlib.com/preview/theme/feliciano/js/jquery.stellar.min.js" type="1de48e9da5cf40243b130f7c-text/javascript"></script>
    <script src="https://colorlib.com/preview/theme/feliciano/js/owl.carousel.min.js" type="1de48e9da5cf40243b130f7c-text/javascript"></script>
    <script src="https://colorlib.com/preview/theme/feliciano/js/jquery.magnific-popup.min.js" type="1de48e9da5cf40243b130f7c-text/javascript"></script>
    <script src="https://colorlib.com/preview/theme/feliciano/js/aos.js" type="1de48e9da5cf40243b130f7c-text/javascript"></script>
    <script src="https://colorlib.com/preview/theme/feliciano/js/jquery.animateNumber.min.js" type="1de48e9da5cf40243b130f7c-text/javascript"></script>
    <script src="https://colorlib.com/preview/theme/feliciano/js/bootstrap-datepicker.js" type="1de48e9da5cf40243b130f7c-text/javascript"></script>
    <script src="https://colorlib.com/preview/theme/feliciano/js/jquery.timepicker.min.js" type="1de48e9da5cf40243b130f7c-text/javascript"></script>
    <script src="https://colorlib.com/preview/theme/feliciano/js/scrollax.min.js" type="1de48e9da5cf40243b130f7c-text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false" type="1de48e9da5cf40243b130f7c-text/javascript"></script>
    <script src="https://colorlib.com/preview/theme/feliciano/js/google-map.js" type="1de48e9da5cf40243b130f7c-text/javascript"></script>
    <script src="https://colorlib.com/preview/theme/feliciano/js/main.js" type="1de48e9da5cf40243b130f7c-text/javascript"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="1de48e9da5cf40243b130f7c-text/javascript"></script>
    <script type="1de48e9da5cf40243b130f7c-text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-23581568-13');
    </script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/95c75768/cloudflare-static/rocket-loader.min.js" data-cf-settings="1de48e9da5cf40243b130f7c-|49" defer=""></script>


  </body>
</html>
